.col-md-10.col-md-offset-1(style='padding-left : 0px; padding-right : 0px;')
    h5.text-center(style='margin-top: 40px;') 3. 가구 스타일링
    .col-md-12
        .col-md-12
            hr
    .col-md-12
        .input-with-label.col-md-4.text-left
            //.text.bold 방종류
            .text 방종류
            .select-option
                i.ti-angle-down
                select
                    option 안방
        .col-md-1
            .btn.paymentButton.mb0.mt32 삭제
        .col-md-1.col-md-offset-5
            .btn.paymentRoomAddButton.mb0.mt32 + 방추가
    .col-md-12
        .col-md-3
            //.text.bold.text-center 구분
            .text.text-center 구분
        .col-md-3
            //.text.bold.text-center 구매의사 있음
            .text.text-center 구매의사 있음
        .col-md-3
            //.text.bold.text-center 현재가구 유지
            .text.text-center 현재가구 유지
        .col-md-3
            //.text.bold.text-center 배치하지 않음
            .text.text-center 배치하지 않음
    .col-md-12
        div(style='height: 10px;')
    hr
    .col-md-12
        .col-md-3
            .text.text-center 책상
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
    .col-md-12
        .col-md-3
            .text.text-center 의자
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
    .col-md-12
        .col-md-3
            .text.text-center 식탁
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
    .col-md-12
        .col-md-3
            .text.text-center 서랍장
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
    .col-md-12
        .col-md-3
            .text.text-center 쇼파
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
    .col-md-12
        .col-md-3
            .text.text-center 침대
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
        .col-md-3.text-center
            div.james.checkbox
                input(type='hidden')
                label
    .col-md-12
        div(style='height: 20px;')
    .col-md-12
        textarea(placeholder='기타 내용을 입력해주세요.')
    .col-md-12
        .col-md-3
            //.text.bold 제품 구매대행
            .text 제품 구매대행
        .col-md-3.text-center
            .radio-option.checked
                .inner
                input(type='radio', name='radio', value='radio1')
            span 요청합니다.
        .col-md-3.text-center
            .radio-option
                .inner
                input(type='radio', name='radio', value='radio1')
            span 요청하지않습니다.
        .col-md-3.text-center
            .radio-option
                .inner
                input(type='radio', name='radio', value='radio1')
            span 잘 모르겠습니다.
    .col-md-12
        .col-md-3
            //.text.bold 부분 시공 여부
            .text 부분 시공 여부
        .col-md-3.text-center
            .radio-option.checked
                .inner
                input(type='radio', name='radio', value='radio1')
            span 요청합니다.
        .col-md-3.text-center
            .radio-option
                .inner
                input(type='radio', name='radio', value='radio1')
            span 요청하지않습니다.
        .col-md-3.text-center
            .radio-option
                .inner
                input(type='radio', name='radio', value='radio1')
            span 잘 모르겠습니다.
    .col-md-12
        div(style='height: 20px;')