head
  meta(charset='utf-8')
  title 홈리에종｜Admin
  //title HomeLiaison 디자이너
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  script(src='http://dmaps.daum.net/map_js_init/postcode.v2.js')
  link(rel='shortcut icon', href='/img/favicon.png')
  //
    You need to include this script for Google Maps.
    When using Google Maps on your own site you MUST sign up for your own API key at:
    https://developers.google.com/maps/documentation/javascript/tutorial#api_key
    After your sign up replace the key in the URL below..
  //script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70')

