+pageHeading title='안내 사항' category='메뉴 관리'
.wrapper.wrapper-content.animated.fadeInRight
    .row
        .col-lg-12
            .ibox.float-e-margins
                //.ibox-title.text-right
                  h5 총 30건 (노출 20건)
                .ibox-content
                    .row
                        .col-md-12
                            .tabs-container
                                //ul.nav.nav-tabs
                                //    li.active
                                //        a(data-toggle='tab', href='#tab-1', aria-expanded='true')  서비스 이용약관

                                #tab-1.tab-pane.active
                                    .panel-body
                                        p 보다 짧은 상하간격으로 작성하고 싶으시면 Shift + Enter 로 줄바꿈 하시기 바랍니다.
                                        textarea#guideEditor.editor
                                    .hr-line-dashed
                                    .form-group
                                        label.col-md-12.control-label(style='text-align : right') 작성중인 페이지가 임시저장 되지 않습니다. 작성 중 [저장] 할 때마다 web화면에 그대로 노출되기 때문에 목록에서 [숨기기]로 변경하고 작성 완료 후 해제하는 것을 권장합니다.
                                    .row
                                        .col-md-1.col-md-offset-11.text-right
                                            button#btnGuide.btn.btn-md.btn-block.btn-primary(type="button")
                                                | 저장

