+pageHeading title='FAQ' category='메뉴 관리'
.wrapper.wrapper-content.animated.fadeInRight
    .row
        .col-lg-12
            .ibox.float-e-margins
                .ibox-title.text-right
                    h5 총 {{totalCount}}건 (노출 {{totalVisibleCount}}건)
                .ibox-content
                    +searchForm
                    form.form-horizontal
                        .form-group(style='margin: 0 auto;')
                            label.col-md-1.control-label 노출상태
                            .col-md-4
                                .btn-group(style='height: 40px; line-height: 38px;')
                                    input#visible(style='vertical-align: top; margin-top: 12px;' type='checkbox', name='visible' checked)
                                    |  노출

                                    input#nonVisible(style='vertical-align: top; margin-top: 12px;' type='checkbox', name='nonVisible' checked)
                                    |  숨김
                    .hr-line-dashed
                    .table-responsive
                        table.table.table-bordered
                            thead
                                tr
                                    th.text-center
                                        input.visible-check-all(type='checkbox', name='checkAll')

                                    th.text-center 등록일
                                    th.text-center 제목
                                    th.text-center 노출여부

                            tbody
                                each faqs
                                    tr
                                        td.text-center
                                            input.visible-check(type='checkbox' name='input[]')

                                        td.text-center {{ makeDate this.createdAt }}
                                        td.text-center#title.clickLine {{ this.title }}
                                        td.text-center
                                            if this.isVisible
                                                i.fa.fa-check.text-navy
                                            else
                                                i.fa.fa-times.text-red
                                        //td.text-center
                                        //    a(href="{{pathFor 'noticeEdit' id=this._id}}")
                                        //        button.btn.btn-xs.btn-block.btn-default(type="button")
                                        //            | 수정


                            tfoot
                                tr
                                    td.footable-visible(colspan='8')
                                        button#btnVisible.btn.btn-xs.btn-default(type="button")
                                            i.fa.fa-check-circle-o
                                            | 노출
                                        button#btnInvisible.btn.btn-xs.btn-default(type="button")
                                            i.fa.fa-ban
                                            | 비노출
                                        button#btnRemove.btn.btn-xs.btn-danger(type="button")
                                            i.fa.fa-trash-o
                                            | 삭제
                                        .pull-right
                                            button#btnExcel.btn.btn-xs.btn-default(type="button")
                                                i.fa.fa-file-excel-o
                                                | 엑셀
                                            button#btnAdd.btn.btn-xs.btn-success(type="button")
                                                i.fa.fa-plus-circle
                                                | 추가
                                tr
                                    td(colspan='8')
                                        ul.pagination.pull-right
                                            +pagination pageTotalCount=pageTotalCount