+pageHeading title='리뷰 관리' category='모니터링'
.wrapper.wrapper-content.animated.fadeInRight
    .row
        .col-lg-12
            .ibox.float-e-margins
                .ibox-title.text-right
                    //h5 총 {{totalCount}}건
                .ibox-content
                    +searchForm
                    form.form-horizontal
                        .form-group(style='margin: 0 auto;')
                            label.col-md-1.control-label 노출상태
                            .col-md-4
                                .btn-group(style='height: 40px; line-height: 38px;')
                                    input#visible(style='vertical-align: top; margin-top: 12px;' type='checkbox', name='visible' checked)
                                    |  노출

                                    input#nonVisible(style='vertical-align: top; margin-top: 12px;' type='checkbox', name='nonVisible' checked)
                                    |  숨김
                    .hr-line-dashed
                    .table-responsive
                        table.table.table-bordered
                            thead
                                tr
                                    th.text-center
                                        input.visible-check-all(type='checkbox', name='checkAll')
                                    th.text-center 노출상태
                                    th.text-center 생성일
                                    //th.text-center 포트폴리오 코드
                                    th.text-center 리뷰점수
                                    th.text-center 사용자
                                    th.text-center 이메일
                                    th.text-center 상품
                                    th.text-center 포트폴리오
                                    th.text-center 디자이너
                            tbody
                                each Reviews
                                    tr
                                        td.text-center
                                            input.visible-check(type='checkbox' name='input[]')
                                        td.text-center {{ status this.isVisible }}
                                        td.text-center {{ dateFormat this.updatedAt }}
                                        //td.text-center
                                        td.text-center {{ this.score }}
                                        td.text-center {{ userName this.userId }}
                                        td.text-center {{ userEmail this.userId }}
                                        td.text-center.clickLine.productTitle {{ productName this.productId }}
                                        td.text-center.clickLine.portfolioTitle {{ portfolioName this.portfolioId}}
                                        td.text-center.clickLine.designerTitle {{ userName this.designerId }}

                            tfoot
                                tr
                                    td.footable-visible(colspan='10')
                                        button#btnVisible.btn.btn-xs.btn-success(type="button")
                                            i.fa
                                            | 노출하기
                                        button#btnNovisible.btn.btn-xs.btn-default(type="button")
                                            i.fa
                                            | 숨기기
                                        button#btnRemove.btn.btn-xs.btn-danger(type="button")
                                            i.fa.fa-trash-o
                                            | 삭제
                                        .pull-right
                                            button#btnExcel.btn.btn-xs.btn-default(type="button")
                                                i.fa.fa-file-excel-o
                                                | 엑셀
                                tr
                                    td(colspan='10')
                                        ul.pagination.pull-right
                                            +pagination pageTotalCount=pageTotalCount
