+header
.main-container.intro
    section
        .container
            .row.v-align-children
                .col-md-5.col-sm-5.mb-xs-24
                    p.mb32(style='font-size: 30px; line-height: 40px; color: #4a4a4a;') "집을 디자인하는 새로운 방법"
                    p(style='font-size : 14px;') 모두가 원하는 집을 디자인하는 방법은
                        br
                        | 내 공간에 꼭 맞는, 내 취향을 반영한, 내 예산을 존중하는 것입니다.
                        br
                        | 그래서 홈리에종은 이렇게 시작했습니다.
                        br
                        br
                        | 홈리에종은 고객과 인테리어 디자이너를 연결하는
                        br
                        | 새로운 형태의 오픈 플랫폼입니다.
                .col-md-7.col-md-offset-1.col-sm-6.col-sm-offset-1.text-center
                    img.cast-shadow(alt='Screenshot', src='/img/a-101-pic-2@2x.jpg')
            // end of row
        // end of container
    section.cover.image-slider.slider-arrow-controls.controls-inside(style='height: 62vh;')
        ul.slides
            li.overlay.image-bg(style='height: 62vh;')
                .background-image-holder.pcShow.parallax1
                .background-image-holder.pcHide(style='background:url("/img/a-101-pic-1@2x.jpg")')
                .container.v-align-transform
                    .row
                        //.col-sm-8.text-center.col-md-12
                        .col-md-offset-5.col-sm-9.col-sm-offset-5.text-center.col-md-9

                            //img.image-small.mb8(alt='Logo', src='/img/logo-light.png')
                            h2.mb88.text-left(style='font-size : 45px; letter-spacing: 4px;') Let Every Space Tell a Story.
                            p.mb0.text-left(style='font-size: 16px; letter-spacing: 1.1px;')
                                | 쉽고 재미있게, 다양한 포트폴리오를 모아보고,
                                br
                                | 인테리어 디자이너의 스타일링 상품을 검색하고,
                                br
                                | 당신의 집에 홈리에종의 감각을 더하세요.
    section.bg-primary
        .container
            .row
                .col-md-4.col-md-offset-1.text-right.text-left-xs.col-sm-5.text-right
                    p.text-right(style='font-size: 48px; line-height: 1.14; letter-spacing: 1.1px;') 당신의 첫번째
                        br
                        span(style='margin-right: 10px;') 디자이너
                    //p.text-right(style='font-size: 58px; line-height: 1.14; letter-spacing: 9.1px;') HOME
                    // span LIAISON

                    //h1.uppercase.mb24.bold.italic
                    //    | HOME
                    //    br
                    //    | LIAISON
                    p.text-right(style='font-size: 24px; padding-right: 12px;') HomeLiaison
                    hr.visible-xs
                .col-md-5.col-sm-7.col-md-offset-1
                    p(style='font-size: 17px; line-height: 24px;') 새로운 인생을 기대하고 계획하며 삶의 공간을 변경하는 일만큼 인생에 큰 터닝포인트가 있을까요? 오래 전에 지어진 건물로 이미 다른 누군가가 장기간 거주하던 집이라도 인테리어 디자이너와 실내 건축가의 전문적인 손길을 통하여 마치 새 집처럼 완전히 다른 모습으로 변화되는 것을 자주 볼 수 있습니다.
                    //p(style='font-size: 17px; line-height: 1.39;') 새로운 인생을 기대하고 계획하며 삶의 공간을 변경하는 일만큼
                    //    br
                    //    | 인생에 큰 터닝포인트가 있을까요?
                    //    br
                    //    |오래 전에 지어진 건물로 이미 다른 누군가가 장기간 거주하던
                    //    br
                    //    |집이라도 인테리어 디자이너와 실내 건축가의 전문적인 손길을
                    //    br
                    //    |통하여 마치 새 집처럼 완전히 다른 모습으로 변화되는 것을 자주 볼 수 있습니다.

                    p(style='font-size: 17px; line-height: 24px') 감각적인 북유럽 디자인부터 셀프 인테리어까지
                        br
                        | 인테리어 스타일리스트의 감성을 당신의 집으로 옮기고 싶다면?
                        br
                        | 맞춤형 홈스타일링 연계 서비스
                        br
                        | 당신의 첫 번째 디자이너를 홈리에종에서 찾아보세요.

                    p(style='font-size: 18px; line-height: 24px;') HomeLiaison is a collection of the finest interior storytellers.
                    img.image-small(alt='signature', src='/dummy/clarehyepark-sign@2x.png')

    section.cover.fullscreen.image-slider.slider-arrow-controls.controls-inside.last-section
        ul.slides
            li.overlay.image-bg.last-section
                .background-image-holder.pcShow.parallax2.fadeIn
                .background-image-holder.pcHide(style='background:url("/img/a-101-pic-3@2x.png")')
                .container.v-align-transform
                    .row
                        h2.text-center.mb56.intro-mobile-title(style='font-size : 48px; letter-spacing: 4px; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); line-height: 55px;') 홈리에종을 이용하는 방법
                        //p.text-center.mb56 Built by professionals, just for you
                        .col-sm-5.col-sm-offset-1
                            .feature.feature-1.boxed
                                .text-center
                                    h4.uppercase &lt;디자이너 이용방법&gt;
                                ul
                                    li 1. 디자이너 신청 및 승인절차
                                    li 2. 포트폴리오 등록
                                    li 3. 스타일링 상품 등록
                                    li 4. 프로젝트 진행(On/Off-line)
                                    li 5. 프로젝트 완료
                                    br
                                    li
                                        //span(style='font-size : 9px;')
                                        div(style='width : 4.5px; height: 4.5px; background-color:#ffffff; display: inline-block; vertical-align: top; border-radius: 100px; margin-top: 11px;')
                                        span(style='vertical-align: bottom;') 이벤트/프로모션 콜라보레이션 진행

                            // end of feature
                        .col-sm-5
                            .feature.feature-1.boxed
                                .text-center
                                    h4.uppercase &lt;고객 이용방법&gt;
                                ul
                                    li 1. 포트폴리오/디자이너 둘러보기
                                    li 2. 스타일링 상품 구매
                                    li 3. 홈스타일링 진행(On/Off-line)
                                    li 4. 프로젝트 완료
                                    li 5. 리뷰 작성 및 후속서비스 지원
                                    br
                                    li
                                        //span(style='font-size : 9px;') ●
                                        div(style='width : 4.5px; height: 4.5px; background-color:#ffffff; display: inline-block; vertical-align: top; border-radius: 100px; margin-top: 11px;')
                                        span(style='vertical-align: bottom;') 연계 서비스 지원(시공상담 지원)
    section
        .container
            .row
                .col-md-3.col-sm-6.mb-xs-24.text-center
                    i.ti-search.icon.mb32
                    h6.mb0(style='font-size: 17px;') 태그로 찾는
                    h6(style='font-size: 17px;') 스타일 라이브러리
                    ul(style='color : #9b9b9b; font-size: 14px;')
                        li 좋아하는 취향의 포트폴리오를 찾아보세요.
                        li 어떤 디자이너인지 궁금하시죠?
                        //li 멋진 포트폴리오를 만든 디자이너가 궁금하시죠?
                .col-md-3.col-sm-6.mb-xs-24.text-center
                    i.ti-paint-roller.icon.mb32
                    h6.mb0(style='font-size: 17px;') 당신의 첫 번째
                    h6(style='font-size: 17px;') 디자이너와의 만남
                    ul(style='color : #9b9b9b; font-size: 14px;')
                        li 최선의 만족감을 줄 수 있는 조력자,
                        li 당신의 첫 번째 디자이너를 만나보세요.
                        //li 당신만을 위한 첫 번째 디자이너를 만나보세요.
                .col-md-3.col-sm-6.mb-xs-24.text-center
                    i.ti-shopping-cart.icon.mb32
                    h6.mb0(style='font-size: 17px;') 내 집에 꼭 맞는
                    h6(style='font-size: 17px;') 스타일링 상품 쇼핑
                    ul(style='color : #9b9b9b; font-size: 14px;')
                        li 다양한 개성의 스타일링 상품을
                        li 선택하면 놀라운 변화를 경험하게 됩니다.
                        //li 살펴보고 선택하면 놀라운 변화를 경험하게 됩니다.
                .col-md-3.col-sm-6.mb-xs-24.text-center
                    i.ti-wallet.icon.mb32
                    h6.mb0(style='font-size: 17px;') 믿을 수 있는
                    h6(style='font-size: 17px;') 대금 결제 방법
                    ul(style='color : #9b9b9b; font-size: 14px;')
                        li 실제 포트폴리오로 검증된 상품을
                        li 에스크로 결제 방식으로 안전하게 이용하세요.
                        //li 에스크로 결제 시스템으로 안전하게 이용하세요.
            // end of row
        // end of container



+footer