+header
.main-container.myProfile
    section.page-title.page-title-4
        .container
            .row
                .col-md-12
                    .col-md-12
                        h3.uppercase.mb0 비밀번호 찾기
    section(style='min-height: 600px')
        .container
            .row
                form#email-form
                    .col-md-4.text-center.col-md-offset-4
                        p.mb0.text-left 가입한 이메일
                        div
                            input#email.mb0.mt0(type='text' name='email')
                            .error-text.text-left
                        //.btn.btn-lg.btn-rounded#submit-btn 비밀번호 찾기
                        .btn.btn-5.btn-lg.btn-rounded#submit-btn(style='margin-top : 60px; width :100%;') 저장

    +footer
