+header
.main-container.result
    section.fullscreen
        .container.v-align-transform
            .row
                .col-sm-10.col-sm-offset-1
                    .feature.text-center
                        i.ti-check-box.icon.icon-lg.mb24.mb-xs-0(style='font-size : 38px;')
                        h2.large.mb56 {{ message }}
                        p.mb40.mb-xs-24
                            a(href='/index') 홈으로 돌아가기
            // end of row
            .embelish-icons(style='left: 45%;')
                i.ti-search(style='margin : 0px 5px;')
                i.ti-shopping-cart(style='margin : 0px 5px;')
                i.ti-paint-roller(style='margin : 0px 5px;')
                i.ti-ruler-alt-2(style='margin : 0px 5px;')
                i.ti-wallet(style='margin : 0px 5px;')
                i.ti-brush-alt(style='margin : 0px 5px;')
        // end of container

+footer