+header
.main-container.myProfile
    section.page-title.page-title-4
        .container
            .row
                .col-md-12
                    .col-md-12
                        h3.uppercase.mb0 비밀번호 변경하기
    section(style='min-height: 70vh;')
        .container
            .row
                form#password-form
                    .col-md-4.text-center.col-md-offset-4
                        p.mb0.text-left 현재 비밀번호
                        div(style='position: relative;')
                            input#oldPassword.mb0.mt0(type='password' name='oldPassword' style='padding-left: 45px;')
                            i.ti-lock(style='position: absolute;font-size: 19px;left:12px;top:15px;')
                            .error-text.text-left
                        p.mt48.mb0.text-left 새 비밀번호
                        div(style='position: relative;')
                            input#newPassword.mb0.mt0(type='password' name='newPassword' style='padding-left: 45px;')
                            i.ti-lock(style='position: absolute;font-size: 19px;left:12px;top:15px;')
                            .error-text.text-left
                        p.mt48.mb0.text-left 새 비밀번호 확인
                        div(style='position: relative;')
                            input#checkPassword.mb0.mt0(type='password' name='checkPassword' style='padding-left: 45px;')
                            i.ti-check-box(style='position: absolute;font-size: 19px;left:12px;top:15px;')
                            .error-text.text-left
                        .btn.btn-5.btn-lg.btn-rounded#submit-btn(style='margin-top : 60px; width :100%;') 저장

    +footer
