+header
.main-container.myProfile
    section.page-title.page-title-4
        .container
            .row
                .col-md-12
                    .col-md-12
                        h3.uppercase.mb0 비밀번호 재설정
    section(style='min-height: 650px')
        .container
            .row
                form#resetPassword-form
                    .col-md-4.text-center.col-md-offset-4
                        p.mb0.text-left 비밀번호
                        div(style='position: relative;')
                            input#password.mb0.mt0(type='password' name='password' style='padding-left: 45px;')
                            i.ti-lock(style='position: absolute;font-size: 19px;left:12px;top:15px;')
                            .error-text.text-left
                        p.mb0.text-left 비밀번호 확인
                        div(style='position: relative;')
                            input#passwordCheck.mb0.mt0(type='password' name='passwordCheck' style='padding-left: 45px;')
                            i.ti-check-box(style='position: absolute;font-size: 19px;left:12px;top:15px;')
                            .error-text.text-left
                        .btn.btn-5.btn-lg.btn-rounded#submit-btn(style='margin-top : 60px; width :100%;') 비밀번호 재설정

    +footer
