+pageHeading title='포트폴리오' category='콘텐츠 관리'
.wrapper.wrapper-content.animated.fadeInRight
    .row
        .col-lg-12
            .ibox.float-e-margins
                .ibox-content
                    form.form-horizontal#portfolio-form
                        .form-group
                            label.col-md-1.control-label
                            .col-md-10
                                h4 * 작성중인 페이지가 자동으로 임시저장 되지않습니다. 작성하시는 중에 [저장] 해주세요.
                        .form-group
                            label.col-md-1.control-label 제목
                            .col-md-10
                                input#title.input-sm.form-control(type='text' value='{{ info "title" }}' name='title' maxlength='36')
                        .form-group
                            label.col-md-1.control-label 지역
                            .col-md-3
                                select#sido.form-control.input-sm
                            .col-md-3
                                select#gugun.form-control.input-sm
                            .col-md-3
                                p(style='margin-top: 8px; color:#aaaaaa') 진행된 지역을 선택해 주세요.
                        .form-group
                            label.col-md-1.control-label 작업일
                            .col-md-3
                                select#year.form-control.input-sm(name='year')
                                    option(value='0') 연도 (필수)
                                    each date('year')
                                        option {{ this }}
                            .col-md-3
                                select#month.form-control.input-sm.selectMonth
                                    option(value='null') 월
                                    each date('month')
                                        option {{ this }}
                            .col-md-3
                                p(style='margin-top: 8px; color:#aaaaaa') 작업한 시점을 선택해 주세요.
                            //.col-md-3
                            //    select#day.form-control.input-sm.selectDay
                            //        option(value='null') 일
                            //        each date2
                            //            option {{ this }}
                        .form-group
                            label.col-md-1.control-label 간단 설명
                            .col-md-10
                                //input#simple.input-sm.form-control(type='text' value='{{ info "simpleInfo" }}' name='simpleInfo' maxlength='116')
                                textarea#simple.form-control(name='simpleInfo' maxlength='116' placeholder='간략한 디자인 컨셉이 소개되는 자리로 포트폴리오 리스트에 노출됩니다. (116글자 제한)') {{ info "simpleInfo" }}
                        .form-group
                            label.col-md-1.control-label 내용
                            .col-md-10
                                p 보다 짧은 상하간격으로 작성하고 싶으시면 Shift + Enter 로 줄바꿈 하시기 바랍니다.
                                textarea#details.form-control(name='detailInfo') {{ info "detailInfo" }}
                        .form-group
                            label.col-md-1.control-label 태그
                            .col-md-10(style='position: relative;')
                                input#tag.input-sm.form-control(type='text' value='{{ info "tags" }}' placeholder='태그는 쉼표로 구분해 주세요' name='tag')

                        .form-group
                            label.col-md-1.control-label
                            .col-md-10
                                h4 * 메인 사진은 제일 처음 업로드 하신 이미지로 자동 지정 됩니다. 업로드 하실 때 처음 사진 1장을 먼저 올리고, 나머지 사진은 한 장에 업로드 하세요.
                        .form-group
                            label.col-md-1.control-label 이미지
                            .col-md-8
                                .img-preview.img-preview-sm(style='height: inherit; text-align: left; width: 100%;')
                                    each imageUrl
                                        //img(src="{{ this }}", style='min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; width: 459px; height: 307px; margin-left: -130px; margin-top: -92px;')
                                        .img(style='margin-left: 20px; display: inline-block; position: relative; background-image : url("{{this}} "); background-repeat: no-repeat; background-size: 200px auto; background-position: center; width : 200px; height: 200px; margin-top : 20px;')
                                            .btn.btn-primary.btn-sm#deleteOneImage( index='{{@index}}' style='right:0px; top:0px; position: absolute;') 삭제
                            .col-md-3
                                label.btn.btn-primary.btn-sm(title='Upload image file', for='inputImage')
                                    input#inputImage.hide(type='file', accept='image/*', name='file', multiple='multiple')
                                    | 이미지 업로드
                                .btn.btn-primary.btn-sm#deleteImage 이미지 초기화
                                p
                                    | 권장 사이즈: 가로825px
                        .form-group
                            .col-md-3.col-md-offset-8.text-right
                                .checkbox.checkbox-inline
                                    //input#inlineCheckbox1(type='checkbox', value='option1')
                                    input#progressedByHomeLiaison.i-checks(type='checkbox' $checkedIf(progressedByHomeLiaison))
                                    label(for='#progressedByHomeLiaison') 홈리에종을 통해 진행된 포트폴리오 인가요?
                        .hr-line-dashed
                        .form-group
                            label.col-md-12.control-label 작성중인 페이지가 임시저장 되지 않습니다. 작성 중 [저장] 할 때마다 web화면에 그대로 노출되기 때문에 목록에서 [숨기기]로 변경하고 작성 완료 후 해제하는 것을 권장합니다.
                        .form-group(style='margin: 0 auto;')
                            .col-md-2.col-md-offset-8.text-right
                                a(href="{{pathFor 'portfolios'}}")
                                    button.btn.btn-md.btn-block.btn-default(type="button")
                                        | 취소
                            .col-md-2.text-right
                                button#submit-button.btn.btn-md.btn-block.btn-primary(type="button")
                                    | 저장


