#wrapper
  //+spinnerContainer
  +navigation
  #page-wrapper.gray-bg
    +topNavbar
    +Template.dynamic template=main
    +footer
  +rightSidebar
+Template.dynamic template=modal
+sAlert



