.row.wrapper.border-bottom.white-bg
  .col-lg-12
    .text-center.m-lg.p-lg
      h1 Route Not Found
      p
        | You can go back to main page (Dashboard)
      a.btn.btn-sm.btn-primary(href="{{pathFor route='dashboard1'}}") Go to Dashboard

