.middle-box.text-center.loginscreen.animated.fadeInDown
  div
    div
      h1.logo-name HL+
    h3 홈리에종 디자이너/관리자 로그인

    form.m-t(role='form', action='index.html')
      .form-group
        input.form-control#email(type='email', placeholder='E-mail', required='')
      .form-group
        input.form-control#password(type='password', placeholder='Password', required='')
      button#login.btn.btn-primary.block.full-width.m-b(type='submit') Login
      button#facebook-login.btn.btn-primary.block.full-width.m-b(type='button') Facebook Login
